include ../../../../components/cards-item/mixin-card-item

section.section.section_product-list
    .product-item__container
        .container.container_caption.animation-element
            .row
                .col.col-xl-8
                    h2.container_caption-text Треки

        .product-item__list.animation-element
            .container
                .row
                    .col-12.col-sm-6.col-md-4.col-xl-3
                        +card(false, "https://aws.massive.ru/technolight/images/catalog/tracks/1.png", "80001-2M-BK", "Трек встраиваемый в гипсокартон", "8 330")
                    .col-12.col-sm-6.col-md-4.col-xl-3
                        +card(false, "https://aws.massive.ru/technolight/images/catalog/tracks/2.png", "80001-2M-WH", "Трек встраиваемый в гипсокартон", "8 330")
                    .col-12.col-sm-6.col-md-4.col-xl-3
                        +card(false, "https://aws.massive.ru/technolight/images/catalog/tracks/3.png", "80001-3M-BK", "Трек встраиваемый в гипсокартон", "12 495")
                    .col-12.col-sm-6.col-md-4.col-xl-3
                        +card(false, "https://aws.massive.ru/technolight/images/catalog/tracks/4.png", "80003-2M-BK", "Трек мини накладной или подвесной", "12 495")
                    .col-12.col-sm-6.col-md-4.col-xl-3
                        +card(false, "https://aws.massive.ru/technolight/images/catalog/tracks/5.png", "80002-2M-BK", "Трек накладной или подвесной", "9 400")
                    .col-12.col-sm-6.col-md-4.col-xl-3
                        +card(false, "https://aws.massive.ru/technolight/images/catalog/tracks/6.png", "80002-2M-WH", "Трек накладной или подвесной", "10 253")
                    .col-12.col-sm-6.col-md-4.col-xl-3
                        +card(false, "https://aws.massive.ru/technolight/images/catalog/tracks/7.png", "80004-2M-BK", "Трек для натяжного потолка", "11 070")
                    .col-12.col-sm-6.col-md-4.col-xl-3
                        +card(false, "https://aws.massive.ru/technolight/images/catalog/tracks/8.png", "80004-2M-WH", "Трек для натяжного потолка", "5 641")

section.section.section_product-list
    .product-item__container
        .container.container_caption.animation-element
            .row
                .col.col-xl-8
                    h2.container_caption-text Светильники

        .product-item__list.animation-element
            .container
                .row
                    .col-12.col-sm-6.col-md-4.col-xl-3
                        +card(false, "https://aws.massive.ru/technolight/images/catalog/lamps/1.png", "80001-2M-BK", "Спот 42", "8 330")
                    .col-12.col-sm-6.col-md-4.col-xl-3
                        +card(false, "https://aws.massive.ru/technolight/images/catalog/lamps/2.png", "80001-2M-WH", "Спот 42", "8 330")
                    .col-12.col-sm-6.col-md-4.col-xl-3
                        +card(false, "https://aws.massive.ru/technolight/images/catalog/lamps/3.png", "80001-3M-BK", "Спот 42", "12 495")
                    .col-12.col-sm-6.col-md-4.col-xl-3
                        +card(false, "https://aws.massive.ru/technolight/images/catalog/lamps/4.png", "80003-2M-BK", "Спот 42", "12 495")
                    .col-12.col-sm-6.col-md-4.col-xl-3
                        +card(false, "https://aws.massive.ru/technolight/images/catalog/lamps/5.png", "80002-2M-BK", "Спот 42", "9 400")
                    .col-12.col-sm-6.col-md-4.col-xl-3
                        +card(false, "https://aws.massive.ru/technolight/images/catalog/lamps/6.png", "80002-2M-WH", "Спот 42", "9 400")
                    .col-12.col-sm-6.col-md-4.col-xl-3
                        +card(false, "https://aws.massive.ru/technolight/images/catalog/lamps/7.png", "80004-2M-BK", "Спот 42", "9 400")
                    .col-12.col-sm-6.col-md-4.col-xl-3
                        +card(false, "https://aws.massive.ru/technolight/images/catalog/lamps/8.png", "80002-2M-BK", "Мун 100", "7 500")
                    .col-12.col-sm-6.col-md-4.col-xl-3
                        +card(false, "https://aws.massive.ru/technolight/images/catalog/lamps/9.png", "80002-2M-WH", "Мун 100", "9 800")
                    .col-12.col-sm-6.col-md-4.col-xl-3
                        +card(false, "https://aws.massive.ru/technolight/images/catalog/lamps/10.png", "80004-2M-BK", "Мун 100", "10 500")
                    .col-12.col-sm-6.col-md-4.col-xl-3
                        +card(false, "https://aws.massive.ru/technolight/images/catalog/lamps/11.png", "80004-2M-WH", "Мун 100", "7 500")
                    .col-12.col-sm-6.col-md-4.col-xl-3
                        +card(false, "https://aws.massive.ru/technolight/images/catalog/lamps/12.png", "80002-2M-BK", "Мун 100", "9 800")
                    .col-12.col-sm-6.col-md-4.col-xl-3
                        +card(false, "https://aws.massive.ru/technolight/images/catalog/lamps/12.png", "80002-2M-WH", "Мун 100", "10 500")
                    .col-12.col-sm-6.col-md-4.col-xl-3
                        +card(false, "https://aws.massive.ru/technolight/images/catalog/lamps/13.png", "80002-2M-WH", "Лайн 600", "10 500")
                    .col-12.col-sm-6.col-md-4.col-xl-3
                        +card(false, "https://aws.massive.ru/technolight/images/catalog/lamps/14.png", "80002-2M-WH", "Лайн 600", "10 500")
