node_modules/
.vscode/
.idea/
build/
dist/

src/components/product/*
!src/components/product/src/
!src/components/product/.eslintrc.cjs
!src/components/product/bun.lockb
!src/components/product/index.html
!src/components/product/package-lock.json
!src/components/product/package.json
!src/components/product/tsconfig.json
!src/components/product/tsconfig.node.json
!src/components/product/vite.config.ts

src/components/dots/*
!src/components/dots/src/
!src/components/dots/.eslintrc.cjs
!src/components/dots/bun.lockb
!src/components/dots/index.html
!src/components/dots/package-lock.json
!src/components/dots/package.json
!src/components/dots/tsconfig.json
!src/components/dots/tsconfig.node.json
!src/components/dots/vite.config.ts
