section.section
    .home-about
        .container.container_caption.animation-element
            .row
                .col.col-xl-8
                    h2.container_caption-text О компании

        .home-about__content.animation-element
            .container
                .row
                    .col-12.col-lg-6
                        .home-about__cards.home-about__cards_single
                            a(href="#").home-about__link.home-about__link_brand
                                img.home-about__pic(src="https://aws.massive.ru/technolight/images/home/brand.jpg" alt="" loading="lazy")
                                p.home-about__text.home-about__text_light Торговая марка

                    .col-12.col-lg-6
                        .home-about__cards
                            a(href="#").home-about__link.home-about__link_garanty
                                img.home-about__pic(src="https://aws.massive.ru/technolight/images/home/garanty.jpg" alt="" loading="lazy")
                                p.home-about__text.home-about__text_dark Гарантия качества

                            a(href="#").home-about__link.home-about__link_locations
                                img.home-about__pic(src="https://aws.massive.ru/technolight/images/home/locations.jpg" alt="" loading="lazy")
                                p.home-about__text.home-about__text_light Где купить?
