.informer#informer
    .informer__back
    .informer__body
        button.informer__close
        .informer__content
            h3.informer__title Трековые системы
            p.informer__subtitle Подзаголовок какой-то, если нужен
            .informer__picture
                .informer__img
                    img(src="https://aws.massive.ru/technolight/images/informer-placeholder-photo.jpg", alt="")
                p.informer__sign Трековая система — это удобный и понятный инструмент для  
                    a(href="") светодизайна
                    | . Вы можете использовать линейные светильники для общего освещения и споты — в качестве акцентного. Одна идея объединяет в себе безграничные возможности для творчества.
            .informer__description
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel dolores  
                    a(href="") necessitatibus
                    |  sit illum. Excepturi sunt quae accusantium numquam. Asperiores possimus soluta perferendis veniam earum ex sequi vero nostrum porro cupiditate?

                br

                h2 Заголовок второго уровня h2
                h3 Заголовок третьего уровня h3
                h4 Заголовок четвертого уровня h4

                ul
                    li Элемент списка
                    li Ещё элемент списка
                    li Элемент списка с каким-то более длинным текстом
                    li Ещё один элемент списка
                    li Последний элемент списка для примера того как будет выглядеть список на странице проекта, статьи или поста.
                    li А вот элемент списка с вложенной  
                        a(href="#") Ссылкой

                ol
                    li Элемент нумерованного списка
                    li Ещё элемент нумерованного списка
                    li Элемент нумерованного списка с каким-то более длинным текстом
                    li Ещё один элемент нумерованного списка
                    li Последний элемент нумерованного списка для примера того как будет выглядеть список на странице проекта, статьи или поста.
                    li А вот элемент нумерованного списка с вложенной  
                        a(href="#") Ссылкой
                p
                    | Просто ссылка внутри какого-либо текста будет  
                    a(href='#') Как-то так
                    |  выглядеть.

                p
                    strong Жирный текст

                p
                    em Акцентный текст

                p
                    span(style='text-decoration: underline;') Подчеркнутый текст

                p
                    del Зачеркнутый текст

                blockquote
                    | Какая-то цитат произвольной длинны
                    br
                    | которая может содержать текст любого объема

                pre.
                    function sum(a, b) {
                        return a + b;
                    }

                figure
                    img(src="https://aws.massive.ru/technolight/images/projects/content-picture.png" alt="")
                    figcaption Рис 1. Подпись для картинкой будет выглядеть так






            a.informer__link(href="") Ссылка куда-нить