div.modal__back.hide

include ../modals/set-order/modals.pug
include ../modals/pass-recovery/modals.pug
include ../modals/pass-change/modals.pug
include ../modals/enter-email/modals.pug
include ../modals/enter-phone/modals.pug
include ../modals/message/modals
