.account-form
    .account-form__dialog
        .account-form__header
            h3.account-form__title Восстановление пароля
            p.account-form__subtitle Только для зарегистрированных пользователей

        .account-form__body
            form.account-form__form(action="" data-form-type="recovery")
                fieldset
                    // Для того чтобы показать ошибку, добавляем к label класс .has-error
                    label
                        i.mail
                        input(type="text" name="email" placeholder="Емейл")
                        span.error-message Текст ошибки

                button.btn.btn_block.btn_dark(type="submit")
                    span Сбросить пароль

        .account-form__footer
            a.account-form__link(href="#") Вернуться ко входу
