@import '../../../../../scss/sass-variables';

.warning {
    display: block;
    position: relative;
    width: auto;
    height: auto;
    color: var(--color-font-primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px; /* 125% */
    text-wrap: balance;
    // user-select: none;
}