section.section
    .product-info.animation-element
        .container
            .product-info__slider
                .swiper
                    .swiper-wrapper
                        .swiper-slide
                            .product-info__card
                                .product-info__body
                                    .product-info__pic
                                        img(src="https://aws.massive.ru/technolight/images/product/info-1.jpg" alt="" loading='lazy')
                                    .product-info__content
                                        h3.product-info__caption Одна идея, бесконечные возможности
                                        p.product-info__desc Трековая система PROFI 48V низковольтная, абсолютно безопасная, проста в монтаже и обслуживании. Светильники устанавливаются в любом удобном месте, что делает систему универсальной и функциональной. Длина трека может быть любой и рассчитывается с точностью до миллиметра. Ширина итоговой полосы на потолке 23 мм, что делает ее самой компактной из всех представленных сегодня на светотехническом рынке России. 
                        .swiper-slide
                            .product-info__card
                                .product-info__body
                                    .product-info__pic
                                        img(src="https://aws.massive.ru/technolight/images/product/info-2.jpg" alt="" loading='lazy')
                                    .product-info__content
                                        h3.product-info__caption PROFI 48V — это низковольтная трековая система
                                        p.product-info__desc
                                            | В отличие от стандартных систем освещения, использующих 220В, низковольтная система в 48В обладает рядом принципиальных преимуществ, являясь не только простой в обслуживании, но и абсолютно безопасной в использовании.
                                            br
                                            br
                                            | Трек может быть смонтирован как на потолке, так и на стенах, где возможен случайный физический контакт. Также, благодаря новой системе питания, трек и сами светильники стали более компактными по размеру.
                        .swiper-slide
                            .product-info__card
                                .product-info__body
                                    .product-info__pic
                                        img(src="https://aws.massive.ru/technolight/images/product/info-3.jpg" alt="" loading='lazy')
                                    .product-info__content
                                        h3.product-info__caption Отсутствие видимых проводников
                                        p.product-info__desc
                                            | Токопроводящие элементы трека расположены по бокам, что делает невидимыми медные проводники конструкции. Это эстетично и безопасно одновременно.
                                            br
                                            br
                                            | Размещая трек в зоне видимости, вы не заметите ничего лишнего, а только черную линию, которая может быть основным или дополнительным элементом дизайна в интерьерах.
                    .swiper-scrollbar