section.section
    .life
        .container.container_caption.animation-element
            .row
                .col.col-xl-8
                    h2.container_caption-text Жизнь компании

        .life__sliders.animation-element
            .container
                .row
                    .col-12.col-md-6.col-lg-4
                        .life__content
                            .swiper
                                .swiper-wrapper
                                    .swiper-slide
                                        .life__content-slide
                                            a(href="#").life__caption
                                                h3.life__title(data-swiper-parallax-x="-200" data-swiper-parallax-duration="600") TECHNOLIGHT на выставке Interlight Russia 2023
                                                p.life__subtitle(data-swiper-parallax-x="-200" data-swiper-parallax-duration="700") Команда TECHNOLIGHT приняла участие в выставке Interlight Russia 2023
                                            .life__preview(data-swiper-parallax-opacity="0" data-swiper-parallax-x="-200" data-swiper-parallax-duration="800")
                                                img(src="https://aws.massive.ru/technolight/images/home/life-1-small.jpg" alt="" loading="lazy")

                                    .swiper-slide
                                        .life__content-slide
                                            a(href="#").life__caption
                                                h3.life__title(data-swiper-parallax-x="-200" data-swiper-parallax-duration="600") RUSSIAN DESIGN DAYS и форум архитекторов и дизайнеров.
                                                p.life__subtitle(data-swiper-parallax-x="-200" data-swiper-parallax-duration="700") Концептуальная выставка новинок и трендов в дизайне и архитектуре, а также форум дизайнеров и архитекторов в Самаре представил наш партнер - компания “Аура дома”. Они показали все возможности и идеи для красивого интерьера с помощью натяжных потолков, последние новинки, профильные системы и освещение.
                                            .life__preview(data-swiper-parallax-opacity="0" data-swiper-parallax-x="-200" data-swiper-parallax-duration="800")
                                                img(src="https://aws.massive.ru/technolight/images/home/life-1-big.jpg" alt="" loading="lazy")

                                    .swiper-slide
                                        .life__content-slide
                                            a(href="#").life__caption
                                                h3.life__title(data-swiper-parallax-x="-200" data-swiper-parallax-duration="600") ВОРКШОП ДЛЯ ДИЗАЙНЕРОВ И АРХИТЕКТОРОВ
                                                p.life__subtitle(data-swiper-parallax-x="-200" data-swiper-parallax-duration="700") Для любого дизайнера и архитектора очень важно своевременно получать информацию от производителей, и гораздо проще сделать это в формате личного общения в рамках воркшопа. Ведь именно так можно получить живую обратную связь и практические навыки на мастер-классах, а еще - разобрать сложные моменты в своих проектах вместе с экспертами для усиления собственных компетенций.
                                            .life__preview(data-swiper-parallax-opacity="0" data-swiper-parallax-x="-200" data-swiper-parallax-duration="800")
                                                img(src="https://aws.massive.ru/technolight/images/home/life-2-big.jpg" alt="" loading="lazy")

                                .life__pagination
                                    .life__page.life__page_current
                                    .swiper-pagination
                                    .life__page.life__page_all

                    .col-12.col-md-6.col-lg-8
                        .life__billboard
                            .swiper
                                .swiper-wrapper
                                    .swiper-slide
                                        a(href="#").life__billboard-slide
                                            img(src="https://aws.massive.ru/technolight/images/home/life-1-big.jpg" alt="" loading="lazy")

                                    .swiper-slide
                                        a(href="#").life__billboard-slide
                                            img(src="https://aws.massive.ru/technolight/images/home/life-2-big.jpg" alt="" loading="lazy")

                                    .swiper-slide
                                        a(href="#").life__billboard-slide
                                            img(src="https://aws.massive.ru/technolight/images/home/life-3-big.jpg" alt="" loading="lazy")
        .life__button
            .container
                a.btn.btn_dark.btn_block(href="#")
                    span Подробнее о компании
