//- Include used template for this page
extends ../../template/template

//- Variables for include this in used template
block variables
    - let title       = 'Technolight'
    - let description = 'Write description for this page here'
    - let keywords    = 'Write keywords for this page here'
    - let page        = 'return'

block breadcrumbs
    .section.section_breadcrumbs
        .container
            ul.breadcrumbs.animation-element
                li
                    a(href="#") Главная
                li
                    a(href="#") Компания
                li
                    span Обмен и возврат

block content
    section.section
        .return
            .container.container_caption.animation-element
                .row
                    .col.col-xl-8
                        h2.container_caption-text Правила возврата товара

            .return__body.animation-element
                .container
                    .row
                        .col-12.col-xl-8
                            .return__content
                                ul.return__list
                                    li
                                        i {1}
                                        p При оплате картами возврат наличными денежными средствами не допускается. Порядок возврата регулируется правилами международных платежных систем.
                                    li
                                        i {2}
                                        p Процедура возврата товара регламентируется статьей 26.1 федерального закона «О защите прав потребителей».
                                    li
                                        i {3}
                                        p Потребитель вправе отказаться от товара в любое время до его передачи, а после передачи товара - в течение семи дней;
                                    li
                                        i {5}
                                        p Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид, потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного товара;
                                    li
                                        i {5}
                                        p Потребитель не вправе отказаться от товара надлежащего качества, имеющего индивидуально-определенные свойства, если указанный товар может быть использован исключительно приобретающим его человеком;

                                .return__pic.d-xl-none
                                    img(src="https://aws.massive.ru/technolight/images/return.jpg" alt="" loading="lazy")

                                .return__description
                                    p
                                        | Для возврата денежных средств на банковскую карту необходимо заполнить
                                        b  «Заявление о возврате денежных средств»
                                        | , которое высылается по требованию компанией на электронный адрес и оправить его вместе с приложением копии паспорта по адресу 
                                        a(href="mailto:vozvrat@technolight.ru")
                                            b vozvrat@technolight.ru

                                    .return__button
                                        a.btn.btn_lite.btn_block.btn_download(href="#")
                                            i
                                            span Скачать заявление на возврат

                                ul.return__list
                                    li
                                        i {6}
                                        p При отказе потребителя от товара продавец должен возвратить ему денежную сумму, уплаченную потребителем по договору, за исключением расходов продавца на доставку от потребителя возвращенного товара, не позднее чем через десять дней со дня предъявления потребителем соответствующего требования;
                                    li
                                        i {7}
                                        p Возврат денежных средств будет осуществлен на банковскую карту в течение 21 (двадцати одного) рабочего дня со дня получения «Заявление о возврате денежных средств» Компанией.
                                    li
                                        i {8}
                                        p Для возврата денежных средств по операциям проведенными с ошибками необходимо обратиться с письменным заявлением и приложением копии паспорта и чеков/квитанций, подтверждающих ошибочное списание. Данное заявление необходимо направить по адресу vozvrat@technolight.ru
                                    li
                                        i {9}
                                        p Сумма возврата будет равняться сумме покупки. Срок рассмотрения Заявления и возврата денежных средств начинает исчисляться с момента получения Компанией Заявления и рассчитывается в рабочих днях без учета праздников/выходных дней.

                        .col-xl-4.d-none.d-xl-block
                            .return__pic
                                img(src="https://aws.massive.ru/technolight/images/return.jpg" alt="" loading="lazy")
