include ../../../../components/projects-item/mixin.pug

section.section#projects
    .projects
        .container.container_caption.animation-element
            .row
                .col.col-xl-8
                    h2.container_caption-text Наши проекты

        .projects__list.animation-element
            .container
                .row
                    .col-12.col-sm-6.col-lg-4
                        +project('Смотреть полностью проект', 'https://aws.massive.ru/technolight/images/home/project-1.jpg', 'Освещение TECHNOLIGHT в новом офисе OnProekt, в котором всё Освещение TECHNOLIGHT в новом офисе OnProekt, в котором всё')

                    .col-12.col-sm-6.col-lg-4
                        +project('Смотреть полностью проект', 'https://aws.massive.ru/technolight/images/home/project-2.jpg', 'Калуга. ЖК «Комфорт Парк»')

                    .col-12.col-sm-6.col-lg-4
                        +project('Смотреть полностью проект', 'https://aws.massive.ru/technolight/images/home/project-3.jpg', 'ЖК «Небо» с основным освещением от TECHNOLIGHT')

                    .col-12.col-sm-6.col-lg-4
                        +project('Смотреть полностью проект', 'https://aws.massive.ru/technolight/images/home/project-4.jpg', 'Москва. Современный интерьер от дизайнера Павла Алексеева')

                    .col-12.col-sm-6.col-lg-4
                        +project('Смотреть полностью проект', 'https://aws.massive.ru/technolight/images/home/project-5.jpg', 'Сочи. Уютная студия')

                    .col-12.col-sm-6.col-lg-4
                        +project('Смотреть полностью проект', 'https://aws.massive.ru/technolight/images/home/project-6.jpg', 'Пермь. Квартира с элементами лофта для семейной пары с ребенком.')

        .projects__button
            .container
                a.btn.btn_dark.btn_block(href="#")
                    span Смотреть все проекты