div.modal.hide#modalMsg
    .modal__dialog
        .modal__close
            button(type="button" data-modal data-modal-action="close")

        .modal__header
            .modal__logo
                img(src="https://aws.massive.ru/technolight/public/images/page/modal-logo.svg" alt="")
            h3.modal__title Заказ успешно отправлен
            p.modal__subtitle Наш менеджер перезвонит Вам в ближайшее время
            span.modal__check