//- Include used template for this page
extends ../../template/template

//- Variables for include this in used template
block variables
    - let title       = 'Technolight'
    - let description = 'Write description for this page here'
    - let keywords    = 'Write keywords for this page here'
    - let page        = 'contract-offer'

block breadcrumbs
    .section.section_breadcrumbs
        .container
            ul.breadcrumbs.animation-element
                li
                    a(href="#") Главная
                li
                    span Договор оферта

block content
    section.section
        .contract-offer
            .container.container_caption.animation-element
                .row
                    .col.col-xl-8
                        h2.container_caption-text Пользовательское соглашение

            .contract-offer__body.animation-element
                .container
                    .contract-offer__content
                        h3
                            | Условия продажи в интернет-магазине 
                            a(href='/') technolight.ru
                        p
                            b Термины
                        p
                            strong Клиент
                            |  - полностью дееспособное физическое лицо, размещающее Заказы на сайте 
                            a(href='/') technolight.ru
                            | , либо указанное в качестве получателя Товара, либо использующее Товары, приобретенные на сайте 
                            a(href='/') technolight.ru
                            | .
                        p
                            strong Продавец
                            |  
                            a(href='/company/contacts') ИП «Крылова Елизавета Казбековна»
                        p
                            strong Интернет-магазин
                            |  - сайт, принадлежащий продавцу, торгующий товарами посредством сети Интернет и имеющий адрес в сети Интернет 
                            a(href='/') technolight.ru
                            | . Позволяет пользователям онлайн, в своём браузере, сформировать заказ на покупку, выбрать способ оплаты и доставки заказа.
                        p
                            strong Сайт
                            |  - 
                            a(href='/') technolight.ru
                        p
                            strong Товар
                            |  - объект материального мира, не изъятый из гражданского оборота и представленный к продаже на Сайте.
                        p
                            strong Заказ
                            |  - должным образом оформленный запрос Клиента на доставку по указанному адресу перечня Товаров, выбранных на Сайте. Заказ может быть оформлен как в целях заключения договора розничной купли-продажи, так и для осуществления обмена или замены Товаров по ранее заключенному договору в случаях, предусмотренных законодательством РФ.
                        p
                            a(name='obshie')
                            | 1. Общие положения
                        p
                            span
                            | 1.1. Сайт принадлежит и администрируется 
                            a(href='/company/contacts') ИП «Крылова Елизавета Казбековна»
                            | .
                        p
                            span
                            | 1.2. Заказывая Товары через Интернет-магазин, Клиент соглашается с Условиями продажи товаров (далее - Условия), изложенными ниже.
                        p
                            span
                            | 1.3. Настоящие Условия, также информация о Товаре, представленная на Сайте, являются публичной офертой в соответствии со ст.435 и ч.2 ст.437 ГК РФ.
                        p
                            span
                            | 1.4. К отношениям между Клиентом и Продавцом применяются положения ГК РФ о розничной купле-продаже (§ 2 глава 30), а также Закон РФ "О защите прав потребителей" от 07.02.1992 № 2300-1 и иные правовые акты, принятые в соответствии с ними.
                        p
                            span
                            | 1.5. Продавец оставляет за собой право вносить изменения в настоящие Условия, в связи с чем, Клиент обязуется регулярно отслеживать изменения в Условиях, размещенных в соответствующем разделе 
                            a(href='/support/payment-and-shipping') Оплата и доставка
                            | .
                        p
                            span
                            | 1.6. Клиент соглашается с Условиями нажатием кнопки "Оформить заказ" на последнем этапе оформления Заказа на Сайте либо путем дачи согласия оператору при оформлении Заказа по телефону.
                        p
                            span
                            | 1.7. Условия продажи содержат пункты с активными гиперссылками на конкретные тематические разделы с более подробной информацией, которые являются неотъемлемой частью Условий продажи. Способ обеспечения доступа к тем или иным частям настоящих Условий посредством активных гиперссылок является общепринятым способом размещения информации в сети Интернет.
                        p
                            span
                            | 1.8. В случае проведения стимулирующих мероприятий - акций, в условиях акций, размещаемых на Сайте, могут быть установлены специальные положения, регулирующие порядок оформления заказа и возврата товара. При этом условия акций являются неотъемлемой частью настоящих Условий продажи, и подлежат применению для лиц, участвующих в акциях. 
                            br
                        p
                            span
                            | 1.9. Цена товара, указанная на Сайте, не является публичной офертой. Приведённые цены и характеристики товаров носят исключительно ознакомительный характер и могут быть изменены Продавцом в одностороннем порядке в связи с курсовыми разницами и закупочными ценами.
                        p 2. Регистрация на сайте
                        p
                            | 2.1. Для оформления Заказа Клиенту необходимо зарегистрироваться на Сайте. Клиент также может оформить заказ без регистрации на Сайте, в том числе через оператора по телефону.
                        p
                            | 2.2. Продавец не несет ответственности за точность и правильность информации, предоставляемой Клиентом при регистрации.
                        p
                            | 2.3. Клиент обязуется не сообщать третьим лицам логин и пароль, указанные при регистрации. В случае возникновения у Клиента подозрений относительно безопасности его логина и пароля или возможности их несанкционированного использования третьими лицами, Клиент обязуется незамедлительно уведомить об этом Продавца, направив электронное письмо на адрес 
                            a(href='mailto:order@technolight.ru') order@technolight.ru
                            | .
                        p
                            | 2.4. Регистрируясь на Сайте, Клиент соглашается с получением сообщений сервисного характера, направляемых на адрес электронной почты, указанный при регистрации, а так же посредством смс-сообщений и через Службу по работе с клиентами, о состоянии заказа. Отказ Клиента от получения указанных сообщений невозможен по техническим причинам.
                        p
                            a(name='oformlenie')
                            | 3. Оформление и сроки выполнения заказа
                        p
                            | 3.1. Заказ Клиента может быть оформлен следующими способами: принят по телефону или оформлен Клиентом самостоятельно на Сайте.
                        p 3.2. При оформлении Заказа Клиент должен указать следующую информацию:
                        p(style='text-align: justify; padding-left: 30px;') - Имя
                        p(style='text-align: justify; padding-left: 30px;') - Номер телефона
                        p
                            | 3.3. После оформления Заказа Клиенту предоставляется информация об ожидаемой дате готовности товара к передаче в службу доставки, либо для самовывоза. Указанная дата зависит от наличия заказанных Товаров на складе Продавца и времени, необходимого на обработку Заказа.
                        p
                            | 3.4. Если на складе у Продавца отсутствует необходимое количество заказанного Товара, Продавец информирует об этом Клиента посредством направления электронного сообщения. Сообщение направляется по электронному адресу, указанному при регистрации. Клиент вправе согласиться принять Товар в количестве, имеющемся в наличии у Продавца, либо аннулировать данную позицию Товара из Заказа. В случае неполучения ответа Клиента в течение 14 дней Продавец оставляет за собой право аннулировать данный Товар из Заказа.
                        p(style='padding-left: 30px;')
                            | 3.4.1. Продавец вправе аннулировать Заказы Клиента, содержащие Товары, от которых ранее Клиент отказался 5 и более раз, указав причины, не связанные с наличием недостатков в этих Товарах.
                        p(style='padding-left: 30px;')
                            | 3.4.2. Продавец вправе отказать в заключении договора и оформлении Заказа, если у Клиента уже оформлены и не получены другие ранее оформленные Заказы на общую сумму 10 тысяч рублей и выше.
                        p
                            | 3.5. Информация о наличии Товара на складе Продавца указывается на Сайте на странице Товара. Конечные сроки получения Заказа Клиентом зависят от адреса и региона доставки, работы конкретной Службы доставки, и напрямую не зависят от Продавца.
                        p
                            | Покупатель уведомлен, что продажа Товара осуществляет в реальном времени и подразумевает изменение цены и его наличия без предварительного уведомления об этом. В связи с этим Товар резервируется за Покупателем только после обработки заказа сотрудником Продавца.
                        p
                            | 3.6. Все информационные материалы о Товарах, представленные на Сайте, носят справочный характер и не могут в полной мере передавать достоверную информацию о свойствах и характеристиках Товара, включая цены, остаток, цвета, размеры и формы. В случае возникновения у Клиента вопросов, касающихся свойств и характеристик Товара, перед оформлением Заказа, Клиент должен обратиться к Продавцу.
                        p
                            | 3.7. Если в соответствии с требованиями законодательства необходима проверка работоспособности Товара перед передачей его Клиенту, такая проверка осуществляется на складе Продавца до передачи Товара в Службу Доставки
                        p 3.8. Оформление Товара, имеющего свойство "Под заказ"
                        p(style='padding-left: 30px;')
                            | 3.8.1. Продавцом на Сайте могут быть предложены к оформлению Товары "Под заказ", не находящиеся на складе Продавца.
                        p(style='padding-left: 30px;')
                            | 3.8.2.1. В отношении Товара, который доступен для оформления "Под заказ", ожидаемый срок, поступления Товара на склад Продавца, зависит от конкретного производителя Товара и оговаривается отдельно по телефону или по электронной почте, указанными при регистрации на сайте.
                        p(style='padding-left: 30px;')
                            | 3.8.2.2. В случае изменения срока поступления Товара на склад, Клиенту направляется уведомление на электронный адрес, указанный им при регистрации на Сайте.
                        p(style='padding-left: 30px;')
                            | 3.8.3.1. Указанная на Сайте цена на Товар, доступный "Под заказ", не является окончательной. В случае изменения цены производителем, Продавец вправе изменить цену, в том числе в уже оформленных, но не предоплаченных Заказах. При этом оформление Товара "Под заказ" по измененной цене производится посредством выставления счета Клиенту по электронному адресу, указанному при регистрации на Сайте, после получения согласия Клиента по телефону и/или электронному адресу, указанными им при регистрации на Сайте.
                        p(style='padding-left: 30px;')
                            | 3.8.3.2. Клиент вправе отказаться от оформления Товара "Под заказ" по новой цене.
                        p(style='padding-left: 30px;')
                            | 3.8.4. При поступлении Товара на склад Продавца , Клиент информируется об ожидаемой дате передачи Товара в службу доставки в порядке, предусмотренном для Заказов.
                        p 3.9. Отказ от Заказа или Товара
                        p(style='padding-left: 30px;')
                            | 3.9.1. Продавец отказывается от выполнения Заказа в случае существенного изменения обстоятельств, из которых Клиент и Продавец исходили при оформлении Заказа, и которые сделали исполнение Заказа невозможным.
                        p(style='padding-left: 30px;')
                            | 3.9.2. Если исполнение Заказа со стороны Продавца стало невозможным по причинам, не зависящим от воли Клиента или Продавца (изменения таможенных правил и процедур, закрытия пункта самовывоза заказов, выбранного Клиентом в качестве способа доставки, и других обстоятельств, препятствующих передаче Товара согласованным способом, в том числе в случае утери Заказа при доставке транспортной компанией, отсутствии Товара у поставщика данного Товара, отсутствия Товаров на складе в виду выявленного при обработке Заказа брака, пересорта или неработоспособности Товара и т.п.), Продавец обязан незамедлительно  уведомить Клиента об этом путем направления электронного сообщения на электронный адрес, указанный при регистрации на Сайте, а Клиент - отказаться от договора купли-продажи либо согласовать новые условия доставки Товаров путем оформления нового Заказа, если Товар есть в продаже.
                        p(style='padding-left: 30px;')
                            | 3.9.3. За несвоевременную поставку Товара "Под заказ" Покупатель вправе потребовать от Продавца уплаты неустойки в размере 0,01% (Ноль целых одна сотая процента) от стоимости фактически оплаченного Покупателем, но непоставленного в указанный срок поставки Товара, за каждый день просрочки, но не более 10% (Десяти процентов) от стоимости фактически оплаченного, но непоставленного в указанный срок поставки Товара.
                        p(style='padding-left: 30px;')
                            | 3.9.4. В случае если Покупателю было предоставлено право оплатить Товар "Под заказ" частями, и он своевременно не оплачивает оставшуюся часть, Продавец вправе приостановить поставку Товара, а в случае окончательного отказа Покупателя оплатить оставшуюся часть и принять Товар, денежные средства, внесённые Покупателем в качестве предоплаты, подлежат возврату, тем способом, которым изначально была произведена предоплата, за вычетом штрафа в размере 30% (Тридцать процентов) от стоимости непоставленного Товара "Под заказ"  не позднее 10 календарных дней с момента получения Продавцом письменного уведомления об отказе от принятия Товара.
                        p(style='padding-left: 30px;')
                            | 3.9.5 Неустойка подлежит уплате только в случае предъявления соответствующей Стороной письменной претензии с требованием об ее уплате. Для целей определения размера неустойки стоимость Товара принимается без учета НДС.
                        p(style='padding-left: 30px;')
                            | 3.9.6. Продавец вправе отказаться от выполнения Заказа при наличии подозрений в том, что данные клиента были неправомерно использованы третьими лицами. В случае отказа от выполнения Заказа по данному основанию, Клиенту необходимо обратиться к Продавцу по телефону и/или электронному адресу 
                            a(href='mailto:order@technolight.ru') order@technolight.ru
                            |  и по его запросу предоставить данные, идентифицирующие Клиента.
                        p(style='padding-left: 30px;')
                            | 3.9.7. Продавец вправе аннулировать Заказы в иных случаях, установленных настоящими Условиями.
                        p 4. Доставка
                        p
                            span
                            | 4.1. Способы доставки Товаров 
                            a(href='/support/payment-and-shipping') указаны на Сайте
                            | . Согласованным способом доставки считается способ, выбранный Клиентом из доступных способов доставки при оформлении Заказа.
                        p
                            span
                            | 4.2. Продавец приложит все усилия для соблюдения сроков доставки, тем не менее, задержки в доставке возможны ввиду непредвиденных обстоятельств, произошедших не по вине Продавца.
                        p
                            span
                            | 4.3. Риск случайной гибели или случайного повреждения Товара переходит к Клиенту с момента передачи ему Заказа и проставления получателем Заказа подписи в документах, подтверждающих доставку Заказа. В случае недоставки Заказа Продавец возмещает Клиенту стоимость предоплаченного Клиентом Заказа, тем способом, которым изначально была произведена предоплата. В случае выбора Клиентом в качестве доставки Траснпортную компанию, риск случайной гибели или случайного повреждения Товара лежит на Продавце в полном объеме до передачи Товара в Транспортную компанию, После передачи Товара в указанную Транспортную компанию, риск случайной гибели или случайного повреждения Товара лежит на Клиенте.
                        p
                            span
                            | 4.4 Клиент вправе выбрать любые Транспортные компании, терминалы которых расположены на территории Москвы и Московской области, без указанных ограничений
                        p
                            span 4.5. Стоимость каждого заказа рассчитывается индивидуально
                        p(style='text-align: justify; padding-left: 30px;')
                            span
                            | 4.5.1. Стоимость доставки в пределах Московской кольцевой автодороги (далее МКАД) зависит от суммы заказа. При сумме заказа более 6000 (шести тысяч) рублей, доставка в пределах МКАД осуществляется за счет Продавца. При сумме заказа менее 6000 (шести тысяч) рублей, стоимость доставки  в пределах МКАД составляет 300 (триста) рублей.
                        p(style='text-align: justify; padding-left: 30px;')
                            span
                            | 4.5.2. Стоимость доставки в Московскую область за пределами МКАД зависит от суммы заказа. При сумме заказа более 6000 (шести тысяч) рублей, доставка в Московскую область за пределами МКАД, рассчитывается исходя из расстояния от МКАД - 30 рублей километр. При сумме заказа менее 6000 (шести тысяч) рублей, доставка в Московскую область за пределами МКАД, рассчитывается исходя из расстояния от МКАД - 30 (тридцать) рублей километр плюс 300 (триста) рублей.
                        p(style='text-align: justify; padding-left: 30px;')
                            span
                            | 4.5.3 Стоимость Заказа, отправляемого через Транспортные компании, рассчитывается исходя из его веса и объема, региона и выбранной Транспортной компаниии и оплачивается Клиентом непосредственно при получении на терминале Транспортной компании. Стоимость доставки до терминала Транспортной компании в Москве и Московской области определяется с соответствии с п.п.
                        p(style='text-align: justify; padding-left: 30px;') 4.5.1., 4.5.2 настоящих Условий.
                        p
                            | 4.6. При доставке Заказ вручается Клиенту либо лицу, указанному в качестве Получателя Заказа. При невозможности получения Заказа, оформленного за наличный расчет, указанными выше лицами, Заказ вручается лицу, готовому предоставить сведения о Заказе (номер Заказа и/или ФИО Получателя), а также оплатить стоимость Заказа в полном объеме лицу, осуществляющему доставку Заказа.
                        p
                            | 4.7. Во избежание случаев мошенничества, а также для выполнения взятых на себя в пункте 4.6. Условий  обязательств, при вручении предоплаченного Заказа лицо, осуществляющее доставку Заказа, вправе затребовать документ удостоверяющий личность Получателя. Продавец гарантирует конфиденциальность и защиту персональной информации Получателя. В случае, если Клиентом выступает Юридическое лицо, при вручении предоплаченного Заказа, Клиент обязан предоставить доверенность на получение Товарно-материальных ценностей, заполненную надлежащим образом, или получение Товара должно производить лицо, имеющее печать и право подписи.
                        p
                            | 4.8. При передаче Заказа Клиент в присутствии лица, осуществляющего доставку Заказа, должен проверить внешний вид и упаковку Заказа, количество Товаров в Заказе, внешний вид и упаковку Товаров, комплектность, ассортимент.
                        p
                            | 4.9. Сроки, отведенные Продавцом для получения Заказа Клиентом, ограничены 15 (пятнадцатью) минутами.
                        p
                            | 4.10. При оплате наличными денежными средствами Продавец предоставляет Клиенту товарный и кассовый чеки. При безналичной оплате Продавец предоставляет ТОРГ-12.
                        p 5. Оплата Товара
                        p
                            | 5.1. Цена Товара указывается на Сайте. В случае неверного указания цены заказанного Клиентом Товара, Продавец при первой возможности информирует об этом Клиента для подтверждения Заказа по исправленной цене либо отмены Заказа. При невозможности связаться с Клиентом данный Заказ считается отмененным. Если Заказ был оплачен, Продавец возвращает Клиенту оплаченную за Заказ сумму тем способом, которым изначально была произведена предоплата.
                        p
                            | 5.2. Цена Товара, указанная на Сайте,  может быть изменена Продавцом в одностороннем порядке. Окончательная стоимость товара сообщается Клиенту в момент подтверждения Заказа работником Продавца. Оплатой товара Клиент подтверждает, что он ознакомлен со стоимостью и принимает ее.
                        p
                            | 5.3. Способы оплаты Товара указаны на Сайте в разделе "
                            a(href='/support/payment-and-shipping') Оплата и доставка
                            | ". Согласованным способом оплаты считается способ, выбранный Клиентом из доступных способов оплаты при оформлении Заказа.
                        p
                            | 5.4. При предоплате Товаров Заказ принимается в обработку только после зачисления денежных средств Клиента на расчетный счет Продавца. Для того, чтобы Продавец мог гарантировать доступность Товара на складе перед проведением предоплаты настоятельно рекомендуется резервировать Товар по телефону и/или электронной почте. Резерв Товара действителен в течении 3 (трех) дней.
                        p
                            | 5.5. Особенности оплаты Товара с помощью банковских карт, а также электронных средств платежа с привязкой к банковским картам (PayPal).
                        p(style='text-align: justify; padding-left: 30px;')
                            | 5.5.1. В соответствии с положением ЦБ РФ "Об эмиссии банковских карт и об операциях, совершаемых с использованием платежных карт" от 24.12.2004 №266-П операции по банковским картам совершаются держателем карты либо лицом, уполномоченным на основании доверенности, оформленной в соответствии с законодательством.
                        p(style='text-align: justify; padding-left: 30px;')
                            | 5.5.2 Обработка платежей происходит с помощью системы PayAnyWay. Безопасность платежей с помощью банковских карт обеспечивается технологиями защищенного соединения HTTPS и двухфакторной аутентификации пользователя 3D Secure. В соответствии с ФЗ «О защите прав потребителей» в случае, если вам была оказана услуга или реализован товар ненадлежащего качества, платеж может быть возвращен на банковскую карту, с которой производилась оплата. Порядок возврата указан в п.п. 6 настоящих Условий.
                        p(style='text-align: justify; padding-left: 30px;')
                            | 5.5.3. Авторизация операций по банковским картам осуществляется банком. Если у банка есть основания полагать, что операция носит мошеннический характер, то банк вправе отказать в осуществлении данной операции. Мошеннические операции с банковскими картами попадают под действие статьи 159 УК РФ.
                        p(style='text-align: justify; padding-left: 30px;')
                            | Согласно ст.159 УК РФ мошенничеством считается хищение чужого имущества или приобретение права на чужое имущество путем обмана или злоупотребления доверием и наказывается штрафом в размере до 120 000 рублей или в размере заработной платы или иного дохода осужденного за период до 1 года, либо обязательными работами на срок до 360 часов, либо исправительными работами на срок до 1  года, либо арестом на срок до 4 месяцев, либо ограничением свободы на срок до 2 лет, либо принудительными работами на срок до 2 лет, либо лишением свободы на срок до 2 лет.
                        p(style='text-align: justify; padding-left: 30px;')
                            | 5.5.4. Во избежание случаев различного рода неправомерного использования банковских карт при оплате, все Заказы, оформленные на Сайте и предоплаченные банковской картой, либо с помощью PayPal, проверяются Продавцом. Продавец оставляет за собой право без объяснения причины аннулировать Заказ. Стоимость Заказа возвращается на банковскую карту владельца либо на счет клиента в PayPal.
                        p(style='text-align: justify; padding-left: 30px;')
                            | 5.5.5. Прием и обработка платежей с использованием банковских карт проводится провайдером электронных платежей PayAnyWay, либо иным провайдером электронных платежей. Продавец не осуществляет обработку, в том числе сбор и хранение данных банковских карт Клиентов.
                        p 5.6. Продавец вправе предоставлять Клиенту скидки на Товар.
                        p
                            | 5.7. Продавец вправе устанавливать скидки в целях продвижения того либо иного способа оплаты или доставки Товара. При этом Продавец может ограничивать условия действия скидок, ограничивать их предельный размер, кроме того скидки не распространяются на Товары по "Акции".
                        p
                            | Скидка может предоставляться на последующий Заказ также в целях компенсации возможного увеличения стоимости Товара при оформлении нового Заказа в случае замены Товара или обмена на аналогичный и в других случаях, когда согласно настоящим Условиям требуется пересчитать стоимость Товара.
                        p
                            | 5.9. В стоимость Заказа не включены таможенные пошлины. Условия оплаты и размер таможенных пошлин определяются таможенным законодательством той страны, куда осуществляется доставка Заказа.
                        p
                            | 5.10 Продавец, при подтверждении заказа, вправе предложить доставку Клиенту только по предоплате товара в одностороннем порядке без объяснения причин. Данный пункт распространяется также для товаров и наборов товаров, у которых указана информация, что доставка осуществляется бесплатно..
                        p 6. Возврат Товара
                        p
                            span 6.1. Возврат Товара надлежащего качества и возврат денежных средств.
                        p(style='text-align: justify; padding-left: 30px;')
                            span
                            | 6.1.1. Клиент вправе изменить решение о покупке и отказаться от заказанного Товара в любое время до его получения, а после получения Товара - в течение 7 дней, не считая дня передачи Товара Клиенту. Возврат полученного Товара надлежащего качества возможен в случае, если сохранены его товарный вид, потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного Товара.
                        p(style='text-align: justify; padding-left: 30px;')
                            span
                            | 6.1.2. Для возврата Товара надлежащего качества необходимо заполнить Заявление на возврат в свободной форме, вернуть товар по адресу 
                            a(href='/company/contacts') местонахождения
                            |  Продавца или через Транспортную компанию. В течение 10 (десяти) дней с момента поступления товара в магазин рассматривается ваше заявление на возврат и производится возврат денежных средств тем способом, которым изначально была произведена предоплата.
                        p(style='text-align: justify; padding-left: 30px;')
                            span
                            | 6.1.3. Клиент не вправе отказаться от Товара надлежащего качества, имеющего индивидуально-определенные свойства, если указанный Товар может быть использован исключительно приобретающим его Клиентом.
                        p(style='text-align: justify; padding-left: 30px;')
                            span
                            | 6.1.4. Клиент не вправе отказаться от Товара надлежащего качества, оформленного "Под заказ".
                        p(style='text-align: justify; padding-left: 30px;')
                            span
                            | 6.1.5. При отказе Клиента от Товара согласно п.6.1.1. Условий Продавец возвращает ему стоимость возвращенного Товара, за исключением расходов Продавца на доставку от Клиента возвращенного Товара, не позднее чем через 10 дней с даты получения Продавцом письменного заявления Клиента. Заявление признается поданным в надлежащей форме, если оно составлено в письменном виде с собственноручной подписью Клиента. Заявление Клиента на возврат передается одновременно Товаром, от которого Клиент отказывается.
                            | Согласно "Закону о защите прав потребителей» № 2300-1 от 07/01.1992" Клиент имеет право на возврат товара надлежащего качества в течение недели с момента получения заказа. Люстры и светильники можно вернуть по адресу нашего склада (район Мосрентген), либо воспользоваться услугой выезда нашего курьера. Стоимость выезда курьера - 600р по Москве и 600р + 30р/км при выезде за МКАД. При полном возврате заказа, денежные средства возвращаются за вычетом услуг курьерской службы, если таковые были оказаны. Если доставка осуществлялась транспортной компанией, услуги ТК оплачивает Клиент.
                        p(style='text-align: justify; padding-left: 30px;')
                            | 6.1.6. Обмен Товара осуществляется путем возврата Товара Продавцу, затем оформления нового Заказа.
                        p(style='text-align: justify; padding-left: 30px;')
                            | 6.1.7. Обмен или возврат Товара надлежащего качества проводится, если указанный Товар не был в употреблении, сохранены его товарный вид, потребительские свойства, пломбы, фабричные ярлыки и т.п. При обнаружении следов эксплуатации Товара, Продавец оставляет за собой право отказать в возврате денежных средств  по данному основанию.
                        p 6.2. Возврат Товара ненадлежащего качества и денежных средств
                        p(style='text-align: justify; padding-left: 30px;')
                            | 6.2.1. Клиент может возвратить Товар ненадлежащего качества изготовителю или Продавцу и потребовать возврата уплаченной денежной суммы в течение гарантийного срока, срока годности либо, если такой срок не установлен, в разумный срок, не превышающий два года. Клиент также может потребовать замены Товара ненадлежащего качества либо устранения недостатков.
                        p(style='text-align: justify; padding-left: 30px;')
                            | 6.2.2. Для возврата Товара ненадлежащего качества и денежных средств необходимо заполнить Заявление на возврат в свободной форме, вернуть товар по адресу 
                            a(href='/company/contacts') местонахождения
                            |  Продавца или через Транспортную компанию. В течение 10 (десяти) дней с момента поступления товара в магазин рассматривается ваше заявление на возврат и производится возврат денежных средств тем способом, которым изначально была произведена предоплата. В отсутствие заявления возврат не возможен по причине отсутствия реквизитов.
                        p(style='text-align: justify; padding-left: 30px;')
                            | В заявлении 
                            b в обязательном порядке
                            |  указываются:
                        p(style='text-align: justify; padding-left: 30px;')
                            | Фамилия Имя Отчество полностью; 
                            br
                            | Серия, номер, кем и когда выдан паспорт; 
                            br
                            | Сумма возврата прописью; 
                            br
                            | Реквизиты банковского счета для возврата: 
                            br
                            | № счета 
                            br
                            | Наименование банка 
                            br
                            | БИК банка 
                            br
                            | Получатель
                        p(style='text-align: justify; padding-left: 30px;')
                            | 6.2.3. Замена Товара ненадлежащего качества на Товар надлежащего качества осуществляется путем возврата Товара Продавцу, затем оформления нового Заказа.
                        p
                            | 6.3. В случае отмены Заказа или Товара после его получения, денежные средства подлежат возврату, при этом способ возврата определяется в зависимости от способа, который был использован Клиентом при оплате Товара.
                        p
                            | 6.4. Порядок действий при нарушении продавцом условия об ассортименте (пересорте).
                        p(style='text-align: justify; padding-left: 30px;')
                            | 6.4.1. В случае передачи Товара в нарушении условия об ассортименте не применяются правила ст. 468 ГК РФ.
                        p(style='text-align: justify; padding-left: 30px;')
                            | 6.4.2. Если иное не предусмотрено настоящими Условиями, в случае обнаружения в Заказе Товара, не соответствующего заказанному ассортименту (пересорт), Клиент вправе при передаче Заказа отказаться от данного Товара и потребовать замены на Товар в ассортименте, предусмотренном Заказом, либо возврата уплаченных денежных средств за фактически непереданный Товар.
                        p(style='text-align: justify; padding-left: 30px;')
                            | 6.4.3. Товар, переданный Клиенту в нарушение условия об ассортименте, подлежит возврату Продавцу. В случае если Клиент принимает данный Товар, Продавец вправе потребовать от Клиента оплаты данного Товара по цене, установленной Продавцом для данного Товара на Сайте на момент передачи Товара (в том числе в судебном порядке). Если фактически переданный Товар отсутствует в ассортименте Продавца, представленном на Сайте на момент передачи Товара, данный Товар оплачивается по цене, согласованной с Продавцом.
                        p(style='text-align: justify; padding-left: 30px;')
                            | 6.4.4. Замена Товара, не соответствующего Заказу по ассортименту, осуществляется путем оформления нового Заказа. В случае если Товар, не соответствующий ассортименту, был предварительно оплачен Клиентом, его стоимость возвращается тем способом, которым изначально была произведена предоплата в течение 10 дней с момента получения письменного заявления Клиента о возврате денежных средств.
                        p 6.5. Порядок действий при нарушении Продавцом условия о количестве.
                        p(style='text-align: justify; padding-left: 30px;')
                            | 6.5.1. Если иное не установлено настоящими Условиями, при передаче Заказа Клиент обязан проверить количество Товаров в Заказе. Если при передаче Заказа Клиентом обнаружены расхождения по количеству Товара в Заказе, Клиент обязан в присутствии представителя Продавца или перевозчика составить Акт о расхождении по количеству.
                        p(style='text-align: justify; padding-left: 30px;')
                            | 6.5.2. Если Продавец передал Клиенту меньшее количество Товара, чем определено Заказом (недовложение), Клиент при передаче Заказа вправе принять Товар в части, соответствующей Заказу, и потребовать передать недостающее количество Товара, либо, если недостающий Товар был оплачен, отказаться от Заказа в части недостающего Товара и потребовать возврата денежных средств за недостающий Товар.
                        p(style='text-align: justify; padding-left: 30px;')
                            | 6.5.3. В случае если недостающий Товар был предварительно оплачен Клиентом, его стоимость возвращается тем способом, которым изначально была произведена предоплата.
                        p(style='text-align: justify; padding-left: 30px;')
                            | 6.5.4. Передача недостающего Товара осуществляется посредством оформления нового Заказа, при условии – если иное не установлено настоящими Условиями-  предоставления Клиентом Акта о расхождении (Акта о недовложении).
                        p(style='text-align: justify; padding-left: 30px;')
                            | Если недостающий Товар не был ранее оплачен Клиентом, он оплачивается любым доступным способом при оформлении нового Заказа.
                        p(style='text-align: justify; padding-left: 30px;')
                            | 6.5.5. В случае невозможности передать недостающий Товар, Продавец уведомляет об этом Клиента посредством направления сообщения на электронный адрес, указанный Клиентом при регистрации, а денежные средства, фактически оплаченные за недостающий Товар, подлежат возврату в течение 10 дней с момента получения письменного заявления Клиента о возврате денежных средств с собственноручной подписью клиента, а также Акта о расхождении (Акта о недовложении) по количеству.
                        p(style='text-align: justify; padding-left: 30px;')
                            | 6.5.6. В случае нарушения Клиентом п.6.5.1 в части составления Акта, Продавец вправе отказать Клиенту в удовлетворении претензий по количеству переданного Товара.
                        p 7. Гарантии и ответственность
                        p
                            span
                            span
                                | 7.1. Продавец не несет ответственности за ущерб, причиненный Клиенту вследствие ненадлежащего использования Товаров, заказанных на Сайте.
                                br
                        p 8. Конфиденциальность и защита персональной информации
                        p
                            span 8.1. Предоставление информации Клиентом: 
                        p(style='text-align: justify; padding-left: 30px;')
                            span
                            | 8.1.1. При регистрации на Сайте Клиент предоставляет следующую информацию: Фамилия, Имя, адрес электронной почты, пароль для доступа к Сайту. При заполнении контактных форм на Сайте Клиент предоставляет следующую информацию: Имя, номер контактного телефона; адрес электронной почты. При оформлении Заказа Клиент предоставляет следующую информацию: Фамилия, Имя, Отчество, адрес для доставки Заказов, номер контактного телефона.
                        p(style='text-align: justify; padding-left: 30px;')
                            span
                            | 8.1.2. При использовании Сайта собираются пользовательские данные (сведения о местоположении; тип и версия ОС; тип и версия Браузера; тип устройства и разрешение его экрана; источник откуда пришел на сайт пользователь, с какого сайта или по какой рекламе; язык ОС и Браузера; открытые страницы и действия на сайте; IP-адрес).
                        p(style='text-align: justify; padding-left: 30px;')
                            span
                            | 8.1.3. В ходе обработки с персональными данными будут совершены следующие действия: сбор; запись; систематизация; накопление; хранение; уточнение (обновление, изменение); извлечение; использование; передачу (распространение, предоставление, доступ); обезличивание; блокирование; удаление; уничтожение.
                        p(style='text-align: justify; padding-left: 30px;')
                            span
                            | 8.1.4. Правовым основанием обработки персональных данных является совокупность правовых актов, во исполнение которых и в соответствии с которыми Продавцом осуществляет обработку персональных данных.
                        p
                            span
                            | 8.2. Предоставляя свои персональные данные при регистрации на сайте, Клиент соглашается на их обработку Продавцом, в том числе и в целях продвижения Продавцом товаров и услуг.
                        p
                            span 8.3. Использование информации предоставленной Клиентом и получаемой Продавцом. 
                        p(style='text-align: justify; padding-left: 30px;')
                            span
                            | 8.3.1 Продавец использует информацию: 
                            br
                            | для регистрации/авторизации Клиента на Сайте; 
                            br
                            | для обработки Заказов Клиента и для выполнения своих обязательств перед Клиентом; 
                            br
                            | для оценки, анализа работы и функционирования Сайта;
                            br
                            | для проведения рекламных и новостных рассылок;
                            br
                            | анализа покупательских особенностей Клиента и предоставления персональных рекомендаций.
                            br
                        p
                            span 8.4. Разглашение информации, полученной Продавцом:
                        p(style='text-align: justify; padding-left: 30px;')
                            span
                            | 8.4.1. Продавец обязуется не разглашать полученную от Клиента информацию. Не считается нарушением предоставление Продавцом информации агентам и третьим лицам, действующим во исполнение обязательств Продавца перед Клиентом.
                        p(style='text-align: justify; padding-left: 30px;')
                            span
                            | 8.4.2. Не считается нарушением обязательств разглашение информации в соответствии с обоснованными и применимыми требованиями закона.
                        p
                            span
                            | 8.5. Продавец вправе использовать технологию "cookies". "Cookies" не содержат конфиденциальную информацию и используются исключительно для функционирования сайта, маркетинговых исследований и персональных предложений.
                        p
                            span
                            | 8.6. Продавец не несет ответственности за сведения, предоставленные Клиентом на Сайте в общедоступной форме.
                        p
                            span
                            | 8.7. Продавец не несет ответственности за убытки, которые Клиент может понести в результате того, что его логин и пароль стали известны третьему лицу.
                        p
                            span
                            | 8.8. В случае возникновения у Продавца подозрений относительно использования учетной записи Клиента третьим лицом или вредоносным программным обеспечением Продавец вправе в одностороннем порядке изменить пароль Клиента.
                            br
                        p 9. Прочие условия
                        p
                            span
                            | 9.1. К отношениям между Клиентом и Продавцом применяется право Российской Федерации.
                        p
                            span
                            | 9.2. В случае возникновения вопросов и претензий со стороны Клиента он должен обратиться в Службу по работе с клиентами Продавца по телефону или адресу электронной почты 
                            a(href='mailto:order@technolight.ru') order@technolight.ru
                            | . При этом ответы Продавца на обращения Клиента признаются направленными в надлежащей форме в случае их отправки на электронный адрес Клиента, указанный им при регистрации, либо в письменной форме на почтовый адрес Клиента (при наличии соответствующего распоряжения). Все возникающее споры стороны будут стараться решить путем переговоров, при недостижении соглашения спор будет передан на рассмотрение в судебный орган в соответствии с действующим законодательством РФ.
                        p
                            span
                            | 9.3. Признание судом недействительности какого-либо положения настоящих Условий и правил не влечет за собой недействительность остальных положений.
