@import '../../scss/sass-variables';
@import '../../scss/mixins';

.button-play {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--color-font-inversion);
    cursor: pointer;
    backdrop-filter: blur(2px);
    transition: var(--synth-transition);
    background: transparent no-repeat 55% 50%;
    background-size: 33%;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iNDEiIHZpZXdCb3g9IjAgMCAzNiA0MSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAuNTY0NTk0IDEuNDM0ODZDMC41NjUxMjQgMC42NDkxMDMgMS40MzAwMiAwLjE3MDg5NiAyLjA5NTc3IDAuNTg4MjY1TDM0LjcyMDggMjEuMDQxN0MzNS4zNjYzIDIxLjQ0NjQgMzUuMzQwMiAyMi4zOTU1IDM0LjY3MzUgMjIuNzY0MUwyLjAyMjQ2IDQwLjgxN0MxLjM1NTcgNDEuMTg1NiAwLjUzODA4IDQwLjcwMyAwLjUzODU5NSAzOS45NDExTDAuNTY0NTk0IDEuNDM0ODZaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K");

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background-color: rgba(255,255,255, 0.1);
            transform: translate(-50%, -50%) scale(1.1);
            backdrop-filter: blur(3px);
        }
    }

    @media (min-width: $xxl) {
        width: 130px;
        height: 130px;
    }
}