.accordion
    ul.accordion__list
        li.accordion__item
            .accordion__button
                span Описание
            .accordion__collapse
                .accordion__inner
                    p.accordion__desc
                        | Встраиваемый монтаж — это самый популярный и эстетичный вид использования трековой системы. Питающий шинопровод крепится на заранее собранный каркас из строительного профиля, закрывается листами гипсокартона или другого схожего материала. Затем выполняются финишные шпатлевочные и покрасочные работы.
                        br
                        br
                        | Для правильной установки необходима достаточная квалификация монтажников, а также мастеров, способных вывести идеально гладкую потолочную плоскость.
                        br
                        br
                        | В результате качественного выполнения всех отделочных работ получается тонкая черная линия. Ширина итоговой полосы — 23 мм.

        li.accordion__item
            .accordion__button
                span Характеристики
            .accordion__collapse
                .accordion__inner
                    table.accordion__table(border='0')
                        tbody
                            tr
                                td.cellCaption
                                    span(data-term="Производитель")
                                        span Производитель
                                td Technolight®
                            tr
                                td.cellCaption
                                    span(data-term="Тип упаковки")
                                        span Тип упаковки
                                td PAP (код 20)
                            tr
                                td.cellCaption Вес
                                td 0,232 кг
                            tr
                                td.cellCaption
                                    span(data-term="Тип монтажа")
                                        span Тип монтажа
                                td Встраиваемый в гипсокартон с выполнением отделочных работ. Светильники легко устанавливаются в трек. Напряжение питания — 48
                            tr
                                td.cellCaption Конструкция
                                td Экструдированный алюминий с порошковым покрытием черного цвета (RAL 9005), медные проводники в диэлектрике из ПВХ и металлическая пластина для магнитного крепления светильников.
                            tr
                                td.cellCaption Габаритные размеры
                                td Длина — 2 000 мм, ширина — 74 мм, высота — 53 мм.
        li.accordion__item
            .accordion__button
                span Файлы для скачивания
            .accordion__collapse
                .accordion__inner
                    .accordion__buttons
                        a.btn.btn_small.btn_lite.btn_download(href='https://technolight.ru/assets/images/menu-pics/1_Badroom_white.mp4' download='')
                            i
                            span Инструкция по монтажу PDF
                        a.btn.btn_small.btn_lite.btn_download(href='https://technolight.ru/assets/images/menu-pics/1_Badroom_white.mp4' download='')
                            i
                            span 3D-модель ZIP
        li.accordion__item
            .accordion__button
                span Видеоинструкция
            .accordion__collapse
                .accordion__inner
                    .accordion__video
                        .swiper
                            .swiper-wrapper
                                .swiper-slide
                                    a.video(href='https://www.youtube.com/embed/YHwnmYkkYrM?si=7VpmellS4GuvokPM' data-fancybox='video-instructions')
                                        span.pic
                                            img(src='https://aws.massive.ru/technolight/images/projects/video-poster.png' title='Светильники TECHNOLIGHT в жилом комплексе Небо.' alt='Светильники TECHNOLIGHT в жилом комплексе Небо.' loading='lazy')
                                        span.button-play.play
                                .swiper-slide
                                    a.video(href='https://www.youtube.com/embed/17orKkflArA?si=Tq78lY3xfTo9THLQ' data-fancybox='video-instructions')
                                        span.pic
                                            img(src='https://aws.massive.ru/technolight/images/projects/collage/13.jpg' title='Освещение TECHNOLIGHT в новом офисе OnProekt, в котором всё получилось идеально!' alt='Освещение TECHNOLIGHT в новом офисе OnProekt, в котором всё получилось идеально!' loading='lazy')
                                        span.button-play.play
                            .accordion__pagination-container
                                //- button.accordion__navigation.accordion__navigation_prev
                                .accordion__pagination
                                //- button.accordion__navigation.accordion__navigation_next
